header{
	background-color: #363636;
}

ul{
	list-style-type: none; 
}

nav ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li .linkNav{
	float: left;
}

.linkNav{
	margin-left: 15px;
	color: white;
	padding: 14px 80px;
	text-decoration: none;
}

li .linkNav:hover{
	list-style-type: none; 
	background-color: #DAA520;
}

body{
	background-color: #EEE9E9;
}

footer{
	background-color: #363636;
	padding-top: 1px;
}

footer ul{
	margin-left: 530px;
	margin-right: 580px;
	display: flex;
}

footer ul li{
	margin:auto;
}

.footerImg{
	width: 30px;
	height: 30px;
}

footer p{
	color: white;
	text-align: center;
}