header{
	background-color: #363636;
}

body{
	background-color: #EEE9E9;

}

nav{
	text-align: center;
}

.navegacao{
	background-color: black;
}

a{
	text-decoration: none;
	color: white;
}

h1{
	margin-left: 20px;
}

p{
	margin-left: 40px;
}

aside{
	text-align: right;
}

.propaganda{
	background-color: #4F4F4F;
}

#pfooter{	
	text-align: center;
	color: white;
	padding-bottom: 5px;

}

#imgheader{
	width: 60px;
	height: 60px;
}

/*.propaganda{
	width: 350;
	height: 150;
}
*/
li{
	list-style-type: none;
}

.footerimg{
	margin-right: 10px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
}

footer{
	background-color: #363636;
	padding-top: 1px;
}